// Invoice dialog to show the break down of services
// and additional parts and hours
.btn-right {
  display: flex;
  justify-content: flex-end;
}
.invoice-title {
  padding: 1.5rem 2rem 1rem;
  font-size: 1.5rem;
}

.invoice-content {
  padding: 2rem;
}

.invoice-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.invoice-custom {
  padding-top: 1.5rem;
}
.invoice-total {
  padding-top: 4rem;
}
// break down of price per hour
.custom-service-calc {
  padding-left: 1rem;
  font-style: italic;
  font-weight: 900;
  font-size: 12px;
}
