// Hero banner
.hero-banner {
  height: calc(100vh - 565px);
  width: 100%;
  background: linear-gradient(rgba(22, 22, 22, 0.5), #212121),
    url(../../assets/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
